.main-container-activos{
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: block;
}

.activos-retirados {
    display: flex;  
    justify-content: center;  
    align-items: center;     
    
    width: 60%;              
    max-width: 600px;         
    padding: 10px;            
    margin: 0 auto 15px auto; 
    
    border: 2px solid #333;   
    border-radius: 8px;       
    
    background-color: #f9f9f9;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1); 
    
}
.activos-retirados ul{
    list-style:none;
}

.activos-retirados:hover{
    transition: 0.2s;
    transform: scale(1.1);
}