*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    background-color: gray;
}
.container{
    
    display: flex;
    justify-content: center;
    position: relative;
}