.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

.dinero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    transform: translateY(20vh);
}
#dinero{
    font-size: 5em;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    backdrop-filter: blur(15px);
    border-radius: 40px;
    width: 60%;
    text-align: center;
}
.btn-finanzas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    transform: translateY(40vh);
}
#ing_fondos{
    font-size: 30px;
}


@media (max-width: 367px) {
    #dinero{
        font-size: 4em;
    }
}


