* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #002060;
    color: #fff;
    gap: 15px;
    padding-top: 10px;
}

.navbar .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.navbar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.btnesNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}

#clientes .dropdown-menu .nav-link{
    width: 100%;
    color: black;
}

#movimientos .dropdown-menu .nav-link{
    width: 100%;
    color: black;
}

#activosID .dropdown-menu .nav-link{
    width: 100%;
    color: black;
}

.navbar a, .navbar .dropdown button {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 80%;
    height: 45px;
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;
    transition: 0.3s;
}

.navbar .dropdown {
    width: 80%;
}

.navbar .dropdown button {
    width: 100%;
    text-align: left;
}

.navbar a:hover, .navbar .dropdown button:hover {
    background-color: rgba(160, 105, 95, 0.74);
    text-decoration: underline;
    outline: 2px solid white;
    transition: 0.2s;
}

.navbar-toggler {
    display: none;
}


@media (max-width: 1406px) {
    .navbar{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar .navbar-toggler{
        position: absolute;
        left: 0;
    }
    .logo{
        display: none;
    }
    .offcanvas-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .offcanvas-body img{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        display: block;
        margin: 0 auto;
    }
    body {
        padding-top: 10vh;
    }
    .navbar .navbar-toggler{
        display: block;
    }
    .navbar a, .logo-container, .dropdown{
        display: none;
    }
    .offcanvas .dropdown{
        display: block;
    }

    .offcanvas-end {
        display: none;
    }

    .offcanvas-end.show {
        display: block;
    }

    .offcanvas-body {
        padding: 10px 20px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .navbar-nav .nav-item {
        width: 100%;
    }

}
@media (max-width: 1538px) {
    .navbar{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar .navbar-toggler{
        position: absolute;
        left: 0;
    }
    .logo{
        display: none;
    }
    .offcanvas-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .offcanvas-body img{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        display: block;
        margin: 0 auto;
    }
    body {
        padding-top: 10vh;
    }
    .navbar .navbar-toggler{
        display: block;
    }
    .navbar a, .logo-container, .dropdown{
        display: none;
    }
    .offcanvas .dropdown{
        display: block;
    }

    .offcanvas-end {
        display: none;
    }

    .offcanvas-end.show {
        display: block;
    }

    .offcanvas-body {
        padding: 10px 20px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .navbar-nav .nav-item {
        width: 100%;
    }

}
