{% extends "base_template.html" %}
{% block titulo %}
    Suda Finanzas
{% endblock %}

{% block contenido %}

<div class="main-container">
    <div class="container">
        <h1 class="text-center mb-4">Clientes Actuales</h1>
        <div class="container-Clientes flex justify-center  p-4 rounded-md">
            <table class="table-auto w-full border-collapse border border-gray-400">
                <thead>
                    <tr class="bg-gray-600 text-white">
                        <th class="border border-gray-400 px-4 py-2">Id del Cliente</th>
                        <th class="border border-gray-400 px-4 py-2">Nombre del Cliente</th>
                        <th class="border border-gray-400 px-4 py-2">Estado del Cliente</th>
                        {% if current_user.privilegios == "Total" %}
                            <th class="border border-gray-400 px-4 py-2">Botones</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                        <tr class="bg-gray-100 hover:bg-gray-300">
                            <td class="border border-gray-400 px-4 py-2 text-center">{{ cliente.id }}</td>
                            <td class="border border-gray-400 px-4 py-2 text-center">{{ cliente.nombre_Cliente }}</td>
                            {% if cliente.estado == 0 %}
                                <td class="border border-gray-400 px-4 py-2 text-center text-red-600">Inactivo</td>
                            {% else %}
                                <td class="border border-gray-400 px-4 py-2 text-center text-green-600">Activo</td>
                            {% endif %}
                            {% if current_user.privilegios == "Total" %}
                                {% if cliente.estado == 0 %}
                                    <td class="border border-gray-400 px-4 py-2 text-center">
                                        <a href="/editar-usuario/{{ cliente.id }}" class="btn btn-primary px-3 py-1 rounded-md">Activar Cliente</a>
                                    </td>
                                {% else %}
                                    <td class="border border-gray-400 px-4 py-2 text-center">
                                        <a href="/editar-usuario/{{ cliente.id }}" class="btn btn-danger px-3 py-1 rounded-md">Desactivar Cliente</a>
                                    </td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}