{% extends "base_template.html" %}

{% block titulo %}
Administración
{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{{ url_for('static' , filename='css/admin.css') }}">
<script type="text/javascript" src="{{ url_for('static' , filename='JavaScript/show-form.js') }}" defer></script>


<div class="main-container">
    <div class="container-users container-fluid"> 
        <h2 class="text-center mb-4">Administrador de Usuarios</h2>
        {% for users in user %}
            {% if current_user.id != users.id %}
                <div class="main-container-users">
                    <div class="container-info">
                        <strong>{{ users.nombre }} {{ users.apellidos }} | 
                            <span class="privilegios">{{ users.privilegios }}</span> | 
                        </strong>
                    </div>
                    {% if users.privilegios != "Total" %}
                        <div class="btnes">
                            <a href="/administracion/editar_usuario/{{ users.id }}" class="btn btn-primary editar">
                                Editar Usuario <i class="bx bx-edit"></i>
                            </a>
                            <button class="eliminar btn btn-danger" data-id="{{ users.id }}">
                                Eliminar Usuario <i class="bx bxs-trash"></i>
                            </button>
                        </div>
                    {% endif %}
                </div>

                <div class="show-container">
                    <div class="container-delete container-fluid">
                        <h2>¿Está seguro de querer eliminar a {{ users.nombre }}?</h2>
                        <div class="container-btnes">
                            <form action="/eliminar_usuario/{{ users.id }}" method="POST">
                                <button class="confirm-eliminar btn" disabled>Eliminar en 5s</button>
                            </form>
                            <button type="button" class="cancelar btn">Cancelar</button>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>



{% endblock %}