{% extends "base_template.html" %}
{% block titulo %}
    Suda Finanzas
{% endblock %}

{% block contenido %}

<div class="main-container">
    <div class="container">
        <h1 class="text-center">Añadir Cliente</h1>
        <form action="{{ url_for('add_cliente') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.nombre_Cliente.label }}
                {{ form.nombre_Cliente(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-success") }}
        </form>
    </div>
</div>



{% endblock %}