{% extends "base_template.html" %}
{% block titulo %}
    Suda Finanzas
{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{{ url_for('static' , filename='css/alertas.css') }}">
<link rel="stylesheet" href="{{ url_for('static' , filename='css/h_extra.css') }}">
<script type="text/javascript" src="{{ url_for('static' , filename='JavaScript/calendario.js') }}" defer></script>

<div class="main-container">
    <div class="container-reemplazo">
        <h1>Pago por horas extra</h1>
        <form action="{{ url_for('pago_horas_extra') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.cliente.label() }}
                {{ form.cliente(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.establecimiento.label() }}
                {{ form.establecimiento(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.nombre.label() }}
                {{ form.nombre(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.rut.label() }}
                {{ form.rut(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.dia_trabajado.label() }}
                {{ form.dia_trabajado(class="form-control", id="fecha") }}
            </div>
            <div class="mb-3">
                {{ form.turno.label() }}
                {{ form.turno(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.monto.label() }}
                {{ form.monto(class="form-control") }}
            </div>
            {% for error in form.monto.errors %}
                <p>{{ error }}</p>
            {% endfor %}
            <div class="mb-3">
                {{ form.quien_paga.label() }}
                {{ form.quien_paga(class="form-control") }}
            </div>
            {{ form.submit(class="btn") }}
        </form>
    </div>
</div>
{% endblock %}
