{% extends "base_template.html" %}
{% block titulo %}
    Suda Finanzas
{% endblock %}

{% block contenido %}

<link rel="stylesheet" href="{{ url_for('static' , filename='css/alertas.css') }}">
<link rel="stylesheet" href="{{ url_for('static' , filename='css/reemplazo.css') }}">
<script type="text/javascript" src="{{ url_for('static' , filename='JavaScript/calendario.js') }}" defer></script>

<div class="main-container">
    <div class="container-reemplazo container">
        <h1>Pago por reemplazo</h1>
        <form action="{{ url_for('pago_reemplazo') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.nombre.label() }}
                {{ form.nombre(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.rut.label() }}
                {{ form.rut(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.dia_trabajado.label() }}
                {{ form.dia_trabajado(class="form-control", id="fecha") }}
            </div>
            <div class="mb-3">
                {{ form.turno.label() }}
                {{ form.turno(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.monto_pagar.label() }}
                {{ form.monto_pagar(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.nombre_paga.label() }}
                {{ form.nombre_paga(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.pago_cotizacion.label() }}
                {{ form.pago_cotizacion(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.pago_sueldo.label() }}
                {{ form.pago_sueldo(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-success") }}
        </form>
        {% with errores = get_flashed_messages(category_filter=["danger"]) %}
            {% if errores %}
                {% for mensaje in errores %}
                    <div class="alert alert-danger">
                        <span>{{ mensaje }} <ion-icon name="alert-circle-outline" style="transform: translateY(20%);"></ion-icon></span>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</div>



{% endblock %}